h1 {
    font-family: 'Helvetica', 'sans-serif';
    color: white;
    background-color: rgb(67, 53, 158);
    padding: 2em 1em;
}

h2 {
    font-family: 'Helvetica', 'sans-serif';
}

p {
    font-size: 22px;
}

li {
    color: rgb(41, 47, 53);
    font-size: 20px;
}

body {
    background-image: url("retail-sublease.jpeg");
    filter: alpha(opacity=40); 
    background-color: rgba(255, 255, 255, 0.384);
}
